.long_box{
  width: 1479px;
  height: 71.2px;
  border-bottom:  solid;

}
a{
  font-size: large;
  margin-right: 1.5rem;
}

.theCrew h1{
  display:flex;
  justify-content: center;
  align-items: center;
}

body{
  animation: fadeIn 4s ease-in;
}

@keyframes fadeIn{
  from{
      opacity: 0;

  }
  to{
      opacity: 1;

  }
}
@keyframes moveRight {
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(50%);

  }
  
}

.Sebastien img{
  animation: moveRight 4s ease-in;
}
.gitHubImage{
  height: 40px;
  width: 40px;
}
img{
  height: 300px;
  width: 300px;
}